*{
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: black;
  
}
#loading{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff url(../Payment-Img/loading\(2\).gif) no-repeat center;
  z-index: 9999999;
}

/* -------------------------------------------------------sort filter---------------------------------------------------------------  */



/* ---------------------------------------------------product section------------------------------------------------------------- */

#product-section{
margin-top: 60px;
  width: 100%;
  height: auto;
}
.top-header-div{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.top-header-div select{
margin: 9px;
  text-align: center;
  padding: 0px 15% 0px 0px;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Ar;
  font-size: 14px;
  font-weight: 400;
}
.top-header-div select option{
margin: 0px;
}

/* .top-header-div>select option:checked {
background-color: #c0e2ff;
color: #333;
} */

.shop-page{
padding-top: 10px;
  width: 93%;
  display: flex;
  margin: auto;

}
.shop-filter-desktop{
  width: 20%;
  height: 60rem;
  overflow-y: auto;
  /* margin-top: 50px; */
  margin-bottom: 20px;
}
.shop-filter-desktop::-webkit-scrollbar{
  width:10%;
}
.size-checkbox{
  width:20px;
  accent-color: #ff446d;
  margin-right: 10px;
}
input[type=radio]{
  width:30px;
  height: 15px;
  accent-color:#ff446d;
}
/* label{
  font-size: 20px;
} */

.size-range{
margin-top: 30px;
padding-bottom: 20px;
border-bottom:1px solid rgb(87, 86, 86,0.3);
}
.size-range>div{
  display: flex;
}
.filter-head-p{
font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight: 700;
color: black;
}
.size-range p,.price p{
font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: 700;
margin-bottom: 5px;
color: black;
}
.size-range label,.price label{
font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: 400;
}
.size{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 5px;
}
.size button{
  font-weight: bold;
  padding: 10px;
}
.size button:hover{
  background-color: black;
  color: white;
  
}
/* ----------------------------------more p------------------------------------------- */
.more-p{
margin:1rem;
color: #ff446d;
}

/* ----------------------------- color div------------------------------------  */
.color-black{
width: 20px;
height: 20px;
border: 1px solid black;
background: black;
border-radius: 50%;
margin-top: 2px;
margin-left: 5px;
margin-right: 5px;
}
.color-blue{
width: 20px;
height: 20px;
border: 1px solid blue;
background: blue;
border-radius: 50%;
margin-top: 2px;
margin-left: 5px;
margin-right: 5px;
}
.color-white{
width: 20px;
height: 20px;
border: 1px solid whitesmoke;
background: whitesmoke;
border-radius: 50%;
margin-top: 2px;
margin-left: 5px;
margin-right: 5px;
}
.color-navyBlue{
width: 20px;
height: 20px;
border: 1px solid navy;
background: navy;
border-radius: 50%;
margin-top: 2px;
margin-left: 5px;
margin-right: 5px;
}
.color-green{
width: 20px;
height: 20px;
border: 1px solid green;
background: green;
border-radius: 50%;
margin-top: 2px;
margin-left: 5px;
margin-right: 5px;
}
.color-red{
width: 20px;
height: 20px;
border: 1px solid red;
background: red;
border-radius: 50%;
margin-top: 2px;
margin-left: 5px;
margin-right: 5px;
}
.color-grey{
width: 20px;
height: 20px;
border: 1px solid grey;
background:grey;
border-radius: 50%;
margin-top: 2px;
margin-left: 5px;
margin-right: 5px;
}
#wrapper{
  /* width: 1170px;
  margin: 0 auto; */
  margin-left: 20px;
  width: 77%;
  height: 60rem;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 20px 10px;
  overflow-y: auto;
}
#wrapper::-webkit-scrollbar{
  width: 0;
}
figure {
  /* width: 32%; */
  max-height: auto;
  float: left;
  margin: 0;
}
figcaption {
  /* padding: 10px; */
  text-align: justify;
  margin-left:15px ;
}
/* --------------------------------------------procut image div-------------------------------------------------  */
.hover-animation {
  position: relative;
  /* height: 350px; */
  height: 260px;

  /* width: 350px; */
  margin: 10% auto 0;
  color: #fff;
  /* box-shadow: 5px 5px 15px rgba(0,0,0,0.6); */
  /* background: url(../); */
}

.hover-animation img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;

  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.product-view-rating-div{
  background: rgb(242, 236, 236,0.8);
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
  position: absolute;
  bottom:0;
  left:0;
  padding-left:15px;
  padding: 0;
  /* font-size:17px; */
  z-index:5;
}
.product-view-rating-div p{
  margin-left: 5px;
  margin-bottom: 0px;
}
.product-view-star,.product-view-total-rating{
  color: black;
  font-weight: bold;
}
.product-view-rating-div hr{
color: black;
font-weight: 900;
}
.fa-solid.fa-star{
  color: #14958f;
  margin-right: 2px;
}
.hover-animation .btn-add{
  width: 100%;
  display: block;
  transition: .5s ease;
  opacity: 0;
  background:rgb(242, 236, 236,0.8);
  padding: 4px 3px;
  position: absolute;
  text-align: center;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  bottom:0;
  left:0;
  z-index:5;
  
}
.hover-animation .btn-add>button{
  
 /* margin-top: 250px; */
  margin: 10px 0px;
  padding: 10px 10px;
  width: 100%;
  border: none;
  /* background-color: black; */
  font-weight: 400;
  border: 1px solid gray;
  font-weight: bold;
  color: black;
}
.hover-animation .btn-add>button:hover{
  border: 1px solid black;
}
.fa-regular.fa-heart{
  color: black;
}
.hover-animation:hover div{
  opacity: 1;

}
/* figcaption:hover h2{
  display: none;

} */
.hover-animation img.img-front:hover{
  opacity:0;
  cursor: pointer;
  
}
figcaption div{
  width: 45%;
  display: flex;
  /* margin: auto; */
  /* text-align: center; 
  */
  /* align-items: center; */
}
figcaption div>h4{
  color: darkslategray;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
figcaption div>strike{
  margin-left: 10px;
  font-size: 13px;
  color: rgb(45, 42, 40);
}
/* figcaption p{
  text-align: center;
  color: limegreen;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */
/* .rating{
  color: rgb(28, 27, 27);
  font-weight: bold;
} */
.similar-products-price-div{
  display: flex;
  width: 100%;
}
.similar-products-price-div h5{
margin-top: 2px;

}
.similar-products-price-div strike{
  color: #9a9ca5;
  margin-top: 4px;
  margin-left: 2px;
}
.similar-products-price-div p{
  color: #ff905a;
  margin-top: 2px;
  margin-left: 2px;
}



/* ---------------------------------- meadia max 1260 px -----------------------------------------------------------------------  */

@media (max-width:1260px){
#wrapper{

  grid-template-columns: repeat(4,1fr);
}
}

/* ---------------------------------- meadia max 1010 px -----------------------------------------------------------------------  */
@media (max-width:1010px){
#wrapper{

  grid-template-columns: repeat(3,1fr);
}
.shop-filter-desktop{
  width: 25%;
}
.size-range{
  width: 100%;
}
/* .size-range div{
  width: 100%;
} */
}

/* ---------------------------------- meadia max 765 px -----------------------------------------------------------------------  */
@media (max-width:765px){
#wrapper{
  width: 70%;
  grid-template-columns: repeat(2,1fr);
}
.shop-filter-desktop{
  width: 30%;
}
}
/* ---------------------------------- meadia max 600 px -----------------------------------------------------------------------  */

@media (max-width:600px){
#wrapper{
  width: 50%;
  grid-template-columns: repeat(1,1fr);
}
.shop-filter-desktop{
  width: 35%;
}
}
/* ---------------------------------- meadia max 480 px -----------------------------------------------------------------------  */
@media (max-width: 480px){
#wrapper{
  width: 50%;
  grid-template-columns: repeat(1,1fr);
}
.shop-filter-desktop{
  width: 45%;
}
}
/* ---------------------------------- meadia max 380 px -----------------------------------------------------------------------  */
@media (max-width: 480px){
#wrapper{
  width: 55%;
  grid-template-columns: repeat(1,1fr);
}
.shop-filter-desktop{
  width: 45%;
}
.similar-products-price-div{
  display: flex;
  /* grid-template-columns: repeat(2,1fr); */
  flex-wrap: wrap;
}
}